<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <h1>Painel de Relatórios</h1>
    <p>Escolha um relatório:</p>
    <a class="button" href="{% url 'generate_report' 'transactions' %}">Relatório de Transações</a>
    <div class="report-content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
